/* Main style */

html{
    font-family:"Verdana";
    font-size: 21px;
    color: white;
    background: black;
}

h2{
    font-weight: normal;
    font-size: 2.38rem;
    text-align: center;
}

header a{
    display: flex;
    color: aquamarine;
    font-size: 0.7619rem;
    margin: 0 auto;
    justify-content: center;
}

.promovideo{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.personal{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.personal h2{
    font-weight: 300;
    font-size: 2rem;
}

.personal p{
    color: gray;
    text-align: center;
}

.personal img{
    margin: 0 auto;
}